<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="v2mini">

  <!-- Includes -->
  <xacro:include filename="$(find v2mini_gazebo)/urdf/transmission/v2mini_arm.transmission.xacro"/>  
  <xacro:include filename="$(find v2mini_description)/urdf/v2mini_robot.urdf.xacro"/>

  <!-- Add the gazebo plugins here -->
  <gazebo>
    <plugin name="ros_control" filename="libgazebo_ros_control.so">
      <!--robotNamespace>/</robotNamespace-->
      <!--robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType-->
    </plugin>
  </gazebo>

  <gazebo>
    <plugin name="gazebo_imu" filename="libgazebo_ros_imu.so">
      <alwaysOn>true</alwaysOn>
      <bodyName>base_footprint</bodyName>
      <topicName>imu</topicName>
      <serviceName>imu_service</serviceName>
      <gaussianNoise>0.0</gaussianNoise>
      <updateRate>20.0</updateRate>
    </plugin>
  </gazebo>

<!--   <gazebo>
     <plugin name="gazebo_realsense" filename="librealsense_gazebo_plugin.so">
     </plugin>
   </gazebo>
-->
  <!-- Instantiate transmissions -->
  <xacro:v2mini_arm_transmission prefix=""/>

</robot>
