<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="v2mini_torso_transmission" params="prefix">

   <transmission name="${prefix}torso_slide_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}torso_slide">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}torso_slide_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

  </xacro:macro>

</robot>
